* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}


body {
  height: 100%;
  font-size: 18px!important;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
main {
  background: linear-gradient(90deg, #050505, #252525);
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.MuiButtonBase-root {
  border-radius: 37px!important;
  color: #ffffff!important;
  height: 56px;
  text-transform: inherit!important;
}
.MuiButton-containedPrimary {
  border-radius: 37px!important;
  background: linear-gradient(90deg, #FF6B22, #CC1E1E);
  color: #ffffff!important;
  padding: 28px 38px!important;
}
.MuiButton-outlinedPrimary {
  color: #ffffff!important;
  border-radius: 37px!important;
  border: 1px solid rgb(255 255 255 / 50%)!important;
  padding: 28px 38px!important;
}
.MuiButton-label {
  font-size: 18px;
  white-space: nowrap;
}
.MuiTypography-colorTextPrimary {
  color: white!important;
}
@media (max-width: 996px){
  .MuiButtonBase-root {
    height: 50px;
  }
  .MuiButton-label {
    font-size: 14px;
  }
  .MuiButton-containedPrimary {
    padding: 5px 48px!important;
  }
  .MuiButton-outlinedPrimary {
    padding: 5px 48px!important;
  }
}


.MuiSvgIcon-root {
  color: #ffffff!important;
}
.MuiPaper-root {
  color: #ffffff!important;
  background: 'linear-gradient(225deg, #1d192a, #000000c2)';
}

 
.MuiTypography-alignLeft {
  font-size: medium!important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(0px, 0px) scale(0)!important;
}

.MuiOutlinedInput-notchedOutline {
  border: none!important;
}
.MuiTypography-colorTextSecondary {
  color: #999999!important;
  font-size: 18px!important;
  max-width: 90%;
  line-height: 36px!important;;
}
.description-list-icon__title {
  font-size: 18px!important;
  font-weight: 500!important;
  color: #999999!important;
  line-height: 36px!important;
}

.MuiTypography-h5 {
  font-size: 26px!important;
  height: 21px!important;
  font-family: 'AlibabaPuHuiTi-Heavy'!important
}

.bottomList {
  color: #999999;
  display: inline-flex;
  list-style: none;
}
.bottomList li:hover {
  cursor: pointer;
}
.bottomDesc {
  font-size: 10px;
  font-weight: 500;
  color: #FF6B22;
}
.bottomList li {
  margin: 15px;
}
.sectionBox {
  background: #303030!important;
  border-radius: 19px;
  padding: 25px;
  padding-bottom: 45px;
}
.sectionBox div h5 .titleDot {
  background: #FF6B22;
  width: 12px;
  height: 65px;
  margin-right: 20px;
} 
.sectionBox div h5 {
  font-weight: 800;
  color: #434343!important;
  margin-bottom: 25px; 
  font-size: 30px!important;
  margin-top: 30px;
  min-width: 450px;
}

@media (max-width: 996px){
  .sectionBox div h5 {
    max-width: 100%;
  }
}

@keyframes turn{
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}



.noticebar {
  width: 100%;
  background: #ff6b2278;
  height: 40px;
  position: absolute;
  display: inline-flex;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}
.noticebar .noticeicon {
  background: url(../images/notice.png) center center no-repeat;
  margin-left: 10%;
  height: 100%;
  width: 40px;
  align-items: center;
}


.fireicon {
  background: url(../images/fire.png) center center no-repeat;
  position: absolute;
  height: 30px;
  width: 30px;
  top: -15px;
  left: 10px;
}

