* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body {
  height: 100%;
  font-size: 18px!important;
}


a {
  text-decoration: none;
}

#root {
  height: 100%;
}
main {
  background: linear-gradient(90deg, #050505, #252525);
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.MuiButtonBase-root {
  border-radius: 37px!important;
  color: #ffffff!important;
  height: 74px;
  text-transform: inherit!important;
}
.MuiButton-containedPrimary {
  border-radius: 37px!important;
  background: linear-gradient(90deg, #FF6B22, #CC1E1E);
  color: #ffffff!important;
  padding: 28px 48px!important;
}
.MuiButton-outlinedPrimary {
  color: #ffffff!important;
  border-radius: 37px!important;
  border: 1px solid rgb(255 255 255 / 50%)!important;
  padding: 28px 48px!important;
}
.MuiButton-label {
  font-size: 18px;
}
.MuiTypography-colorTextPrimary {
  color: white!important;
}
@media (max-width: 996px){
  .MuiButtonBase-root {
    height: 50px;
  }
  .MuiButton-label {
    font-size: 14px;
  }
  .MuiButton-containedPrimary {
    padding: 5px 48px!important;
  }
  .MuiButton-outlinedPrimary {
    padding: 5px 48px!important;
  }
}


.MuiSvgIcon-root {
  color: #ffffff!important;
}
.MuiPaper-root {
  color: #ffffff!important;
  background-color: #333333!important;
}

 
.MuiTypography-alignLeft {
  font-size: medium!important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(0px, 0px) scale(0)!important;
}

.MuiOutlinedInput-notchedOutline {
  border: none!important;
}
.MuiTypography-colorTextSecondary {
  color: #999999!important;
  font-size: 18px!important;
  max-width: 90%;
  line-height: 36px!important;;
}
.description-list-icon__title {
  font-size: 18px!important;
  font-weight: 500!important;
  color: #999999!important;
  line-height: 36px!important;
}

.MuiTypography-h5 {
  font-size: 26px!important;
  height: 21px!important;
}

/* .bottomTips {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  padding-left: 15px;
  background: #14141491;
  width: 100%;
  color: #E96322;
  font-weight: 500;
  font-size: 12px;
} */
.bottomList {
  color: #999999;
  display: inline-flex;
  list-style: none;
}
.bottomDesc {
  font-size: 10px;
  font-weight: 500;
  color: #FF6B22;
}
.bottomList li {
  margin: 15px;
}
.sectionBox {
  background: #303030!important;
  border-radius: 19px;
  padding: 25px;
  padding-bottom: 45px;
}
.sectionBox div h5 .titleDot {
  background: #FF6B22;
  width: 12px;
  height: 48px;
  margin-right: 20px;
} 
.sectionBox div h5 {
  font-size: 26px;
  font-weight: 800;
  color: #434343;
  margin-bottom: 15px;
}


@keyframes turn{
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}